@media screen and (max-width: 1024px) {
  .content {
    margin-top: 10%;
  }
}

@media screen and (max-width: 630px) {
  .content {
    margin-top: 15%;
  }
}

@media screen and (max-width: 360px) {
  .content {
    margin-top: 18%;
  }
}
